<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      [<%= link_to 'Home', root_path %>]
      [<%= link_to 'Articles', articles_path %>]
      [<%= link_to 'Books', books_path, data: { turbo: false } %>]
      <input type="checkbox" id="toggle-turbo" value="1" checked> Enabled
    </header>

    <%= yield %>
  </body>
</html>
